body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #ccd6cd;
}
#chatbox-container {
  top:20px;
  left: 0;
  bottom: 20px;
  margin: 20px;
  position: fixed;
  width:500px;
  height: 600px;
  max-width: 800px;
  max-height: 1000px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
}
#chatlog div {
  margin-bottom: 5px;
  padding: 10px;
  justify-items: stretch;
}

#remove:hover {
  transform: scale(1.1);
}

#chatbox-container * {
  box-sizing: border-box;
  z-index: 1;
  margin: 0;
}

#topheader {
  display: flex;
  justify-content: space-between;
  background-color: #00cf8a;
  height: 60px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  position: relative;
  color: rgb(13, 75, 54);
}

h1 {
  position: absolute;
  margin:10px;
  font-size: 22px;
  left:25%
}

#remove {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 100;
}

#chatbox {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  height: 90%;
  margin: 2px 0 0 2px;
  position: absolute;
  width: 99%;
}

#chatlog {
  max-height: auto;
  overflow-y: scroll;
  margin-bottom: 10px;
  height: 85%;
  overflow-x: hidden;
  padding: 8px 12px;
}
#chatlog .start{
  position: relative;
  left: 25%;
  color:#3e8e41;
  font-weight: bolder;
  margin-bottom: 10px;
 
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  max-height:100px;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}

#userInput {
  flex-grow: 1;
  padding: 2;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  outline: none;
  margin: 5px;
  bottom: 2px;
  max-width: 350px;
  overflow-x: hidden;
  max-width: 90%;

}
#userInput:focus {
  box-sizing: border-box;
  box-shadow: 0px, 5px, 10px rgba(0, 0, 0, 0.2);
}

#chat {
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  width: 10%;
  bottom: 0;
  height: 100%;
}

.userMessage {
  width: auto;
  max-width: 75%;
  background-color: #3874ff;
  color: white;
  padding: 8px 12px;
  margin: 5px 5px;
  border-radius: 32px 0 32px 32px;
  float: right;
  clear: both;
  font-size: 18px;
  text-align: left;
  height: auto;
  margin-bottom: 10px;
}
.userMessage p{
  float: right;
  position: relative;
  right:0;
}


.supportMessage {
  width: auto;
  max-width: 75%;
  background-color: #e9ebed;
  color: black;
  padding: 8px 12px;
  margin: 5px 5px;
  border-radius: 0 32px 32px 32px;
  font-size: 18px;
  float: left;
  clear: both;
  text-align: left;
  margin-bottom: 10px;
}
.supportMessage p{
  float: left;
  position: relative;
  left:0;
}
.edChat{
  max-width: 75%;
  display:flex;
  padding:0;;
}
.endChat p {
  position: relative;
  float: center;
  color: #3e8e41;
  padding: 0px;
  max-width: 75%;
  clear:both;
  left:20%;
}
.endChat #end{
  border-radius: 5px;
  height:40px;
  background-color: #363535;
  padding:0 5%;
  margin:10px;
  color: white;
  float:left;
  left:0;
}
.endChat #end:hover{
  background-color: red;
}
.endChat #cancel{
  border-radius: 5px;
  height:40px;
  background-color: #088178;
  padding:0 5%;
  margin:10px;
  color: white;
  float:right;
  right:0;
  z-index: 999;
}
.endchat #cancel:hover{
  background-color: #0d2e74;
}
@media screen and (max-width: 760px) {
  #chatbox-container {
    position: fixed;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
  
  #chatbox {
    height: calc(100% - 60px);
  }
  
  #chatlog {
    height:90%;
    margin-bottom: 0;

  }
  .input-wrapper{
    margin-top: 0px !important;
    max-height: 15%;
  }
  #userInput {
    max-width: 90%;
    max-height:80px;
  }
}
@media screen and (min-width: 760px) and (max-width: 1000px) {
  /* styles for devices with screen width between 760px and 1000px */
  #chatbox-container {
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    height: 80%;
    width: 80%;
  }
  #chatlog {
    height: 90%;
    margin-bottom: 0px !important;
  }
  #chatbox{
    height: 90%;
  }
  .input-wrapper{
    margin-top: 0px !important;
    max-height: 20%;
  }

}

